.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;

  .slider,
  .radio-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
