.page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5rem;

  .slider,
  .radio-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .slider {
    width: 50%;
  }

  .radio-question {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .radio-button {
    width: 50%;
    max-width: 400px;
  }
}
